<!DOCTYPE html>
<html>
  <head>
    <title>Piedra, papel y tijeras!</title>
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1; charset=utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Impact">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html,body,i,h1,h2,h3,h4,h5,h6 {
      font-family: "Impact";
      }
    </style>
  </head>

  <body class="w3-container w3-red">
    <div class="w3-bar w3-black w3-round-large">
      <div class="w3-bar-item w3-indigo"><h1>Piedra, papel, tijeras .... lagarto y spock!</h1></div>
    </div>
    <br>

    <span class="w3-tag w3-xsmall w3-padding w3-orange w3-bar-block w3-round-large" style="transform:rotate(-10deg)">
      <div class="w3-bar-item">La fecha de hoy es: {{Fecha}}</div>
    </div>
    </span>
    <br>

    <br>
    <div class="w3-row">
      <div class="w3-bar-block w3-col w3-light-grey w3-round-large" style="width:20%">
        <div class="w3-bar-item"><h3>Autores del sitio web:</h3></div>
      </div>
      <div class="w3-rest">
        <div class="w3-bar w3-col w3-black w3-round-large">
          <div class="w3-bar-item w3-blue">Abraham Emmanuel Buatista Monsreal</div>
          <div class="w3-bar-item w3-white">A01351650</div>
        </div>

        <div class="w3-bar w3-col w3-blue w3-round-large">
          <div class="w3-bar-item w3-white">Joan Daniel Guerrero Garcia</div>
          <div class="w3-bar-item w3-black">A01378052</div>
        </div>
      </div>
    </div>
    <br>


    <div class="w3-container">
          <a href="https://diariobinario.com/reglas-del-juego-piedra-papel-tijeras-lagarto-o-spock-segun-sheldon/" class="w3-button w3-large w3-purple w3-round-large">Intrucciones del juego <i class="w3-margin-left fa fa-search"></i></a>
    </div>


    <div class="w3-row">
      <div class="w3-col" style="width:30%">
        <p></p>
      </div>
      <div class="w3-col" style="width:60%">
        <img src="/static/piedra_papel_tijera_lagarto_spock.png" class="w3-round-small " style="width:60%">
      </div>
      <div class="w3-col" style="width:20%">
        <p></p>
      </div>
    </div>
    <br>

    <div class="w3-row">
      <div class="w3-col w3-bar-block w3-light-grey w3-round-large w3-bar" style="width:150px">
        <div class="w3-bar-item w3-large"><h3>Selecciona tu arma:</h3></div>
      </div>


      <div class="w3-rest">
        <div class="w3-row">
      <div class="w3-card-4 w3-col" style="width:20%">
        <a href = "/tiro/piedra">
          <img src="/static/juego5.png" style="width:100%" class="w3-opacity w3-hover-opacity-off">
          <div class="w3-container w3-center w3-indigo">
            <p>Piedra</p>
          </div>
        </a>
      </div>

      <div class="w3-card-4 w3-col" style="width:20%">
        <a href = "/tiro/tijeras">
          <img src="/static/juego1.png" style="width:100%" class="w3-opacity w3-hover-opacity-off">
          <div class="w3-container w3-center w3-indigo">
            <p>Tijeras</p>
          </div>
        </a>
      </div>

      <div class="w3-card-4 w3-col" style="width:20%">
        <a href = "/tiro/papel">
          <img src="/static/juego3.png" style="width:100%" class="w3-opacity w3-hover-opacity-off">
          <div class="w3-container w3-center w3-indigo">
            <p>Papel</p>
          </div>
        </a>
      </div>

      <div class="w3-card-4 w3-col" style="width:20%">
        <a href = "/tiro/lagarto">
          <img src="/static/juego2.png" style="width:100%" class="w3-opacity w3-hover-opacity-off">
          <div class="w3-container w3-center w3-indigo">
            <p>Lagarto</p>
          </div>
        </a>
      </div>

      <div class="w3-card-4 w3-col" style="width:20%">
        <a href = "/tiro/spock">
          <img src="/static/juego4.png" style="width:100%" class="w3-opacity w3-hover-opacity-off">
          <div class="w3-container w3-center w3-indigo">
            <p>Spock</p>
          </div>
        </a>
      </div>
    </div>

      </div>
    </div>
    <br>

  </body>
</html>